<h1 class="mt-4 mb-4">Your enrollments</h1>

<ul class="list-group">
  <% current_user.enrollments.each do |enrollment| %>
    <li class="list-group-item">
      <%= link_to enrollment.event.title, event_path(enrollment.event.id), class: "mr-2 text-decoration-none text-primary font-weight-bold" %>
      <%= link_to "Cancel enrollment", enrollment_path(enrollment), method: "delete", data: { confirm: "Are you sure to cancel this enrollment?" },
                                                                 class: "btn btn-outline-secondary" %>
    </li>
  <% end %>
</ul>