<h1>Events</h1>

<div class="card">
  <div class="row">
    <% @events.each do |event| %>
      <div class="col-md-4 mb-2">
        <% if event.img.attached? %>
          <%= image_tag event.img.url, size: "250x250" %>
        <% end %>
      </div>
      <div class="col-md-8 mb-2">
        <div class="card-body">
          <h2><%= link_to event.title, event_path(event) %></h2>
          <p><%= event.start_date %></p>
          <p><%= simple_format(event.description) %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>